
  <div class="cart-container" *ngIf="cartProducts.length != 0">
    <div class="cart-panel">
      <div class="cart-item" *ngFor="let prodCart of cartProducts">
        <img class="product-image" src="{{ prodCart.url }}" />
        <div class="cart-item-details"> 
          <p>{{ prodCart.name }}</p>
          <p>${{ prodCart.price }}</p>
          <div>
            <label>Amount:</label>
            <input class="number-input"type="number"name="{{ prodCart.id }}"value="{{ prodCart.quantity }}"min="0"
             [(ngModel)]="prodCart.quantity"(ngModelChange)="updateOnChange(prodCart)"/>
          </div>
        </div>
      </div>

      <form>
        <h1>Total: ${{totalPrice.toFixed(2)}}</h1>
      </form>
    </div>

    <div class="cart-panel">
      <form class="form-margin" #form="ngForm" (ngSubmit)="onSubmitOrder()">
        <p>Full Name</p>
        <input type="text" name="full_name" required placeholder="(minimum 3 characters)" minlength="3" [(ngModel)]="full_name"/>

        <p>Address</p>
        <input type="text" required name="address" placeholder="(minimum 6 characters)"minlength="6" [(ngModel)]="address" />

        <p>Credit Card Number</p>
        <input type="text" required name="creditCard" placeholder="(16-digit nmber)" pattern="\d{16}" minlength="16" maxlength="16"inputmode="numeric" [(ngModel)]="creditCard"/>

        <br/>
         <p style="color: gray;font-size:10pt">We will never share your payment details with anyone else.</p>

        <button [disabled]="form.invalid">Submit</button>
      </form>
    </div>
  </div>

  <div class="empty-cart-message" *ngIf="cartProducts.length == 0">
    Cart is empty. Please, go to home page to add product &ThickSpace; <a routerLink="/">&ThickSpace; &ThickSpace; Here</a>.
  </div>

