<form class="detail-container" (ngSubmit)="onSubmit(product)">
  <img src="{{ product.url }}" />
  <div  class="detail-item">
    <h1>{{ product.name }}</h1>
    <p>$ {{ product.price }}</p>
    <p>{{ product.description }}</p>
    <div>
      <select class="select-input" [(ngModel)]="quantity" name="{{ product.id }}">
        <option *ngFor="let i of Qty" [ngValue]="i">{{i}}</option>
      </select>
        
      <br/>
      <button type="submit">Add to cart</button>
      <br/>
      <br/>
      <a class="back-link" routerLink="/"> Back to product list</a>
      
    </div>
  </div>
</form>

